// bash commands to print layers and windows info
// $ niri msg layers
// $ niri msg windows
// $ niri msg pick-window
layer-rule {
    match namespace="^dms:.*popout.*"
    match namespace="^dms:control-center.*"
    exclude namespace="dms:bar"
    shadow {
        off
    }
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
window-rule {
    open-maximized-to-edges false
    open-maximized true
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
    background-effect {
        xray false
    }
}
window-rule {
    match is-floating=true
    shadow {
        on
    }
}
window-rule {
    match app-id="Alacritty"
    background-effect {
        blur true
    }
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {
    }
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    //match app-id=r#"org.quickshell$"#
    open-floating true
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}
/*
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
*/
