! ~/.Xresources
! vim:noet:ts=40:sts=40

Xft.dpi:	100
Xft.antialias:	1
Xft.rgba:	rgb
Xft.autohint:	true
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.lcdfilter:	lcddefault

XTerm.utf8:	1
XTerm.termName:	xterm-256color
XTerm.vt100.bellIsUrgent:	false
XTerm.visualBell:	false
XTerm.vt100.locale:	true
XTerm.vt100.backarrowKey:	false
XTerm.ttyModes:	erase ^?
XTerm.vt100.saveLines:	4096
XTerm.vt100.geometry:	80x32
XTerm.vt100.selectToClipboard:	on
XTerm.vt100.reverseVideo:	true
XTerm.vt100.foreground:	#272A34
XTerm.vt100.background:	#FFFFFF
Xcursor.theme:	capitaine-cursors-light
Xcursor.size:	0
XTerm.internalBorder:	0
XTerm.borderWidth:	0
XTerm.vt100.faceName:	Iosevka Fixed SS09:Regular:antialias=true
XTerm.vt100.font:	7x13
XTerm.vt100.faceNameDoublesize:	Iosevka Fixed SS09:style:Regular:antialias=true

XTerm.vt100.faceSize:	9

! Custom color scheme - Dark
*foreground:	#FFFFFF
*background:	#272A34
*cursor:	#606060
! Black
*color0:	#1d1f21
*color8:	#969896
! Red
*color1:	#FF4343
*color9:	#FF8080
! Green
*color2:	#51DDAA
*color10:	#71FFCC
! Yellow
*color3:	#FF9E80
*color11:	#FFCC80
! Blue
*color4:	#766AFF
*color12:	#B2ABFF
! Magenta
*color5:	#BE25BE
*color13:	#FE7DFE
! Cyan
*color6:	#31C8FF
*color14:	#80F0FF
! White
*color7:	#DDDDDD
*color15:	#FFFFFF

! $ urxvt --help
!
! rxvt-unicode (urxvt) v9.22 - released: 2016-01-23
! options: perl,xft,styles,combining,blink,iso14755,unicode3,
! encodings=eu+vn+jp+jp-ext+kr+zh+zh-ext,
! fade,transparent,tint,XIM,frills,selectionscrolling,wheel,slipwheel,
! cursorBlink,pointerBlank,scrollbars=plain+rxvt+NeXT+xterm

!where resources (long-options) include:

!URxvt.termName:	string
!URxvt.geometry:	geometry
!URxvt.chdir:	string
!URxvt.reverseVideo:	boolean
!URxvt.loginShell:	boolean
!URxvt.multiClickTime:	number
!URxvt.jumpScroll:	boolean
!URxvt.skipScroll:	boolean
!URxvt.pastableTabs:	boolean
!URxvt.scrollstyle:	mode
URxvt.scrollBar:	false
!URxvt.scrollBar_right:	boolean
!URxvt.scrollBar_floating:	boolean
!URxvt.scrollBar_align:	mode
!URxvt.thickness:	number
!URxvt.scrollTtyOutput:	boolean
!URxvt.scrollTtyKeypress:	boolean
!URxvt.scrollWithBuffer:	boolean
!URxvt.inheritPixmap:	boolean
!URxvt.transparent:	boolean
!URxvt.tintColor:	color
!URxvt.shading:	number
!URxvt.blurRadius:	HxV
!URxvt.fading:	number
!URxvt.fadeColor:	color
!URxvt.utmpInhibit:	boolean
!URxvt.urgentOnBell:	boolean
!URxvt.visualBell:	boolean
!URxvt.mapAlert:	boolean
!URxvt.meta8:	boolean
!URxvt.mouseWheelScrollPage:	boolean
!URxvt.tripleclickwords:	boolean
!URxvt.insecure:	boolean
!URxvt.cursorUnderline:	boolean
URxvt.cursorBlink:	true
!URxvt.pointerBlank:	boolean
URxvt.background:	#272A34
URxvt.foreground:	15
!URxvt.color0:	color
!URxvt.color1:	color
!URxvt.color2:	color
!URxvt.color3:	color
!URxvt.color4:	color
!URxvt.color5:	color
!URxvt.color6:	color
!URxvt.color7:	color
!URxvt.color8:	color
!URxvt.color9:	color
!URxvt.color10:	color
!URxvt.color11:	color
!URxvt.color12:	color
!URxvt.color13:	color
!URxvt.color14:	color
!URxvt.color15:	color
!URxvt.colorBD:	color
!URxvt.colorIT:	color
!URxvt.colorUL:	color
!URxvt.colorRV:	color
!URxvt.underlineColor:	color
!URxvt.scrollColor:	color
!URxvt.troughColor:	color
!URxvt.highlightColor:	color
!URxvt.highlightTextColor:	color
!URxvt.cursorColor:	color
!URxvt.cursorColor2:	color
!URxvt.pointerColor:	color
!URxvt.pointerColor2:	color
!URxvt.borderColor:	color
!URxvt.iconFile:	file
URxvt.font:	xft:Iosevka Fixed SS09:Regular:antialias=true:size=10,\
	xft:Noto Sans Mono:style=Regular:antialias=true:size=10
URxvt.boldFont:	xft:Iosevka Fixed SS09:style=Bold:antialias=true:size=10,\
	xft:Noto Sans Mono:style=Bold:antialias=true:size=10
URxvt.italicFont:	xft:Iosevka Fixed SS09:style=Italic:antialias=true:size=10
URxvt.boldItalicFont:	xft:Iosevka Fixed SS09:style=BoldItalic:antialias=true:size=10
!URxvt.intensityStyles:	boolean
URxvt.inputMethod:	fcitx
URxvt.preeditType:	OnTheSpot
!URxvt.imLocale:	string
URxvt.imFont:	xft:Roboto Nerd Font:antialias=true:size=11\
	xft:Noto Sans:antialias=true:size=11
!URxvt.title:	string
!URxvt.iconName:	string
URxvt.saveLines:	4096
!URxvt.buffered:	boolean
!URxvt.depth:	number
!URxvt.visual:	number
!URxvt.transient-for:	windowid
!URxvt.override-redirect:	boolean
!URxvt.hold:	boolean
!URxvt.externalBorder:	number
!URxvt.internalBorder:	number
!URxvt.borderLess:	boolean
!URxvt.lineSpace:	number
URxvt.letterSpace:	-1
!URxvt.skipBuiltinGlyphs:	boolean
!URxvt.pointerBlankDelay:	number
!URxvt.backspacekey:	string
!URxvt.deletekey:	string
!URxvt.print-pipe:	string
URxvt.modifier:	alt
!URxvt.cutchars:	string
!URxvt.answerbackString:	string
!URxvt.secondaryScreen:	boolean
!URxvt.secondaryScroll:	boolean
!URxvt.perl-lib:	string
!URxvt.perl-eval:	perl-eval
URxvt.perl-ext-common:	matcher
!URxvt.perl-ext:	string
!URxvt.iso14755:	boolean
!URxvt.iso14755_52:	boolean
!URxvt.xrm:	string
!URxvt.keysym.sym:	keysym
!URxvt.background.border:	boolean
!URxvt.background.expr:	string
!URxvt.background.interval:	seconds
!URxvt.bell-command:	string
!URxvt.kuake.hotkey:	string
!URxvt.matcher.button:	string
!URxvt.matcher.launcher:	string
!URxvt.matcher.launcher.*:	string
!URxvt.matcher.pattern.*:	string
!URxvt.matcher.rend.*:	string
!URxvt.remote-clipboard.fetch:	string
!URxvt.remote-clipboard.store:	string
!URxvt.searchable-scrollback:	string
!URxvt.selection-autotransform.*:	string
!URxvt.selection-pastebin.cmd:	string
!URxvt.selection-pastebin.url:	string
!URxvt.selection.pattern-0:	string
URxvt.tab-bg:	0
URxvt.tab-fg:	4
URxvt.tabbar-bg:	0
URxvt.tabbar-fg:	15
URxvt.url-launcher:	/usr/bin/xdg-open
