// vim:noet
configuration {
	modi: "drun,run,filebrowser,window";
	case-sensitive: false;
	cycle: false;
	filter: "";
	scroll-method: 0;
	normalize-match: true;
	show-icons: true;
	icon-theme: "Flat-Remix-GTK-Blue-Dark";
	steal-focus: false;
	/*---------- Drun settings ----------*/
	drun-categories: "";
	drun-match-fields: "name,generic,exec,categories,keywords";
	drun-display-format: "{name}\r[<span weight='light' size='small'><i>({generic})</i></span>]";
	drun-show-actions: true;
	drun-url-launcher: "xdg-open";
	drun-use-desktop-cache: false;
	drun-reload-desktop-cache: false;
	drun {
		/** Parse user desktop files. */
		parse-user:   true;
		/** Parse system desktop files. */
		parse-system: true;
	}
	eh: 2;
}

@theme "~/.config/rofi/themes/launchpad.rasi"
