@define-color theme_fg_color #AEE5FA;
@define-color theme_text_color #AEE5FA;
@define-color theme_bg_color #1a1b26;
@define-color theme_base_color #1a1b26;
@define-color theme_selected_bg_color #AEE5FA;
@define-color theme_selected_fg_color rgba(0, 0, 0, 0.87);
@define-color insensitive_bg_color #1a1b26;
@define-color insensitive_fg_color rgba(192, 202, 245, 0.5);
@define-color insensitive_base_color #24283b;
@define-color theme_unfocused_fg_color #AEE5FA;
@define-color theme_unfocused_text_color #c0caf5;
@define-color theme_unfocused_bg_color #1a1b26;
@define-color theme_unfocused_base_color #1a1b26;
@define-color theme_unfocused_selected_bg_color #a9b1d6;
@define-color theme_unfocused_selected_fg_color rgba(0, 0, 0, 0.87);
@define-color unfocused_insensitive_color rgba(192, 202, 245, 0.5);
@define-color borders rgba(192, 202, 245, 0.12);
@define-color unfocused_borders rgba(192, 202, 245, 0.12);
@define-color warning_color #FDD633;
@define-color error_color #BA1B1B;
@define-color success_color #81C995;
@define-color wm_title #AEE5FA;
@define-color wm_unfocused_title rgba(192, 202, 245, 0.7);
@define-color wm_highlight rgba(192, 202, 245, 0.1);
@define-color wm_bg #1a1b26;
@define-color wm_unfocused_bg #1a1b26;
@define-color wm_button_close_icon #1a1b26;
@define-color wm_button_close_hover_bg #a9b1d6;
@define-color wm_button_close_active_bg #c7c7c7;
@define-color content_view_bg #1a1b26;
@define-color placeholder_text_color #e4e1e9;
@define-color text_view_bg #1d1d1d;
@define-color budgie_tasklist_indicator_color #90D1F6;
@define-color budgie_tasklist_indicator_color_active #90D1F6;
@define-color budgie_tasklist_indicator_color_active_window #999999;
@define-color budgie_tasklist_indicator_color_attention #FDD633;
@define-color STRAWBERRY_100 #FF9262;
@define-color STRAWBERRY_300 #FF793E;
@define-color STRAWBERRY_500 #F15D22;
@define-color STRAWBERRY_700 #CF3B00;
@define-color STRAWBERRY_900 #AC1800;
@define-color ORANGE_100 #FFDB91;
@define-color ORANGE_300 #FFCA40;
@define-color ORANGE_500 #FAA41A;
@define-color ORANGE_700 #DE8800;
@define-color ORANGE_900 #C26C00;
@define-color BANANA_100 #FFFFA8;
@define-color BANANA_300 #FFFA7D;
@define-color BANANA_500 #FFCE51;
@define-color BANANA_700 #D1A023;
@define-color BANANA_900 #A27100;
@define-color LIME_100 #A2F3BE;
@define-color LIME_300 #8ADBA6;
@define-color LIME_500 #73C48F;
@define-color LIME_700 #479863;
@define-color LIME_900 #1C6D38;
@define-color BLUEBERRY_100 #94A6FF;
@define-color BLUEBERRY_300 #6A7CE0;
@define-color BLUEBERRY_500 #3F51B5;
@define-color BLUEBERRY_700 #213397;
@define-color BLUEBERRY_900 #031579;
@define-color GRAPE_100 #D25DE6;
@define-color GRAPE_300 #B84ACB;
@define-color GRAPE_500 #9C27B0;
@define-color GRAPE_700 #830E97;
@define-color GRAPE_900 #6A007E;
@define-color COCOA_100 #9F9792;
@define-color COCOA_300 #7B736E;
@define-color COCOA_500 #574F4A;
@define-color COCOA_700 #463E39;
@define-color COCOA_900 #342C27;
@define-color SILVER_100 #EEE;
@define-color SILVER_300 #CCC;
@define-color SILVER_500 #AAA;
@define-color SILVER_700 #888;
@define-color SILVER_900 #666;
@define-color SLATE_100 #888;
@define-color SLATE_300 #666;
@define-color SLATE_500 #444;
@define-color SLATE_700 #222;
@define-color SLATE_900 #111;
@define-color BLACK_100 #474341;
@define-color BLACK_300 #403C3A;
@define-color BLACK_500 #393634;
@define-color BLACK_700 #33302F;
@define-color BLACK_900 #2B2928;
@define-color accent_bg_color #bec2ff;
@define-color accent_fg_color #272b60;
@define-color accent_color #bec2ff;
@define-color destructive_bg_color #ffb4ab;
@define-color destructive_fg_color #690005;
@define-color destructive_color #ffb4ab;
@define-color success_bg_color #C5E1A5;
@define-color success_fg_color #33691E;
@define-color warning_bg_color #FFE082;
@define-color warning_fg_color #E65100;
@define-color error_bg_color #ffb4ab;
@define-color error_fg_color #690005;
@define-color window_bg_color #131318;
@define-color window_fg_color #e4e1e9;
@define-color view_bg_color #131318;
@define-color view_fg_color #e4e1e9;
@define-color headerbar_bg_color rgb(25, 25, 30.5);
@define-color headerbar_fg_color #e1e0f9;
@define-color headerbar_border_color #444559;
@define-color headerbar_backdrop_color @headerbar_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.09);
@define-color card_bg_color #0e0e13;
@define-color card_fg_color #e1e0f9;
@define-color card_shade_color rgba(0, 0, 0, 0.09);
@define-color dialog_bg_color #1f1f25;
@define-color dialog_fg_color #e1e0f9;
@define-color popover_bg_color #1f1f25;
@define-color popover_fg_color #e1e0f9;
@define-color thumbnail_bg_color #1a1b26;
@define-color thumbnail_fg_color #AEE5FA;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);
@define-color sidebar_bg_color #131318;
@define-color sidebar_fg_color #e4e1e9;
@define-color sidebar_border_color #131318;
@define-color sidebar_backdrop_color #131318;
window {
  --accent-bg-color: @accent_bg_color;
  --success-color: @success_color;
}

* {
  transition: all 0.25s ease-in;
  transition-property: background, color, background-color, border-color, outline-color;
}

.navigation-sidebar {
  background-color: #131318;
}

.navigation-sidebar row {
  border-radius: 100px;
}

.navigation-sidebar label {
  color: #91909a;
}

.navigation-sidebar row:selected {
  background-color: #444559;
}

.navigation-sidebar row:selected label {
  color: #e1e0f9;
  background-color: transparent;
}

.navigation-sidebar row:active {
  background-color: rgb(83.7, 84.5, 105);
}

.navigation-sidebar row:active label {
  color: #e1e0f9;
  background-color: transparent;
}

label {
  color: #e4e1e9;
}

tooltip {
  background-color: #1f1f25;
  color: #e4e1e9;
  border-radius: 11px;
  border: 0px solid;
}

menu * {
  border-radius: 0px;
}

menu separator {
  color: #91909a;
}

menu {
  padding: 8px 0px 8px 0px;
  background: #1f1f25;
}

separator {
  color: #91909a;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0px;
}

button:not(.combo),
entry:not(.combo) {
  border-radius: 100px;
  outline: none;
}

button.text-button {
  background-color: #1f1f25;
}
button.text-button.flat {
  background-color: transparent;
}
button.text-button {
  color: #e4e1e9;
}
button.text-button:hover {
  background-color: rgba(199, 197, 208, 0.1);
}
button.text-button:disabled {
  opacity: 1;
  filter: none;
  background-color: rgba(31, 31, 37, 0.38);
}
button.text-button:disabled, button.text-button:disabled label {
  color: rgba(228, 225, 233, 0.62);
}
button.text-button.link, button.text-button.link label {
  color: #bec2ff;
}
button.text-button.link:disabled, button.text-button.link:disabled label {
  color: rgba(228, 225, 233, 0.62);
}

:not(spinbutton) button:not(.flat):not(.up):not(.down).image-button {
  background-color: #444559;
  color: #e1e0f9;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: all 0.2s ease-in-out;
  transition-property: background, background-color;
  border-radius: 100%;
}
:not(spinbutton) button:not(.flat):not(.up):not(.down).image-button:hover {
  background-color: rgb(75.85, 76.75, 97);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
}
:not(spinbutton) button:not(.flat):not(.up):not(.down).image-button:active {
  background-color: rgb(83.7, 84.5, 105);
  box-shadow: none;
}
:not(spinbutton) button:not(.flat):not(.up):not(.down).image-button:checked {
  background-color: rgb(83.7, 84.5, 105);
  box-shadow: none;
}
:not(spinbutton) button:not(.flat):not(.up):not(.down).image-button label,
:not(spinbutton) button:not(.flat):not(.up):not(.down).image-button .icon,
:not(spinbutton) button:not(.flat):not(.up):not(.down).image-button image {
  color: #e1e0f9;
  transition: all 0.2s ease-in-out;
  transition-property: color;
}

scale trough {
  background-color: #444559;
}
scale highlight {
  background-color: #bec2ff;
}
scale.marks-after slider, scale.marks-before slider {
  transform: none;
}
scale.horizontal trough {
  min-height: 0.188rem;
}
scale.horizontal slider {
  min-height: 1.5rem;
  min-width: 0.5rem;
  margin: 0;
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
  border-radius: 0.75rem;
  background-color: #bec2ff;
}
scale.vertical trough {
  min-width: 0.188rem;
}
scale.vertical slider {
  min-width: 1.5rem;
  min-height: 0.5rem;
  margin: 0;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  border-radius: 0.75rem;
  background-color: #bec2ff;
}

switch {
  border: 2px solid;
  border-radius: 100px;
  border-color: #91909a;
  background-color: #34343a;
}
switch slider {
  border-radius: 100px;
  background-color: #91909a;
}
switch:disabled {
  background-color: #34343a;
  border-color: #e4e1e9;
}
switch:disabled slider {
  background-color: #e4e1e9;
}
switch:hover {
  background-color: rgb(66.08, 65.84, 72);
}
switch:hover slider {
  background-color: #c7c5d0;
}
switch:active {
  background-color: rgb(66.08, 65.84, 72);
}
switch:active slider {
  background-color: #c7c5d0;
}
switch:checked {
  background-color: #bec2ff;
  border-color: #bec2ff;
}
switch:checked slider {
  background-color: #272b60;
}
switch:checked:disabled {
  background-color: #e4e1e9;
  border-color: #e4e1e9;
}
switch:checked:disabled slider {
  background-color: #131318;
}
switch:checked:hover {
  background-color: #bec2ff;
  border-color: #bec2ff;
}
switch:checked:hover slider {
  background-color: #3e4278;
}
switch:checked:active {
  background-color: #bec2ff;
  border-color: #bec2ff;
}
switch:checked:active slider {
  background-color: #3e4278;
  border-color: #3e4278;
}

radio {
  color: #c7c5d0;
  background-color: transparent;
  border: 2px solid;
  border-color: #c7c5d0;
  opacity: 1;
  padding: 1px;
}
radio:hover {
  background-color: rgba(228, 225, 233, 0.08);
}
radio:active {
  background-color: rgba(228, 225, 233, 0.1);
}
radio:disabled {
  color: #e4e1e9;
  border-color: #e4e1e9;
  background-color: transparent;
  opacity: 0.38;
}
radio:checked {
  color: #bec2ff;
  border-color: #bec2ff;
}
radio:checked:hover {
  background-color: rgba(190, 194, 255, 0.08);
}
radio:checked:active {
  background-color: rgba(190, 194, 255, 0.1);
}
radio:checked:disabled {
  color: #131318;
  border-color: #e4e1e9;
  background-color: #e4e1e9;
  opacity: 0.38;
}
radio:indeterminate {
  color: #bec2ff;
  border-color: #bec2ff;
}
radio:indeterminate:hover {
  background-color: rgba(190, 194, 255, 0.08);
}
radio:indeterminate:active {
  background-color: rgba(190, 194, 255, 0.1);
}
radio:indeterminate:disabled {
  color: #131318;
  border-color: #e4e1e9;
  background-color: #e4e1e9;
  opacity: 0.38;
}

check {
  color: #e4e1e9;
  background-color: transparent;
  border: 2px solid;
  border-color: #c7c5d0;
  opacity: 1;
  padding: 1px;
}
check:hover {
  background-color: rgba(228, 225, 233, 0.08);
}
check:active {
  background-color: rgba(228, 225, 233, 0.08);
}
check:disabled {
  color: #e4e1e9;
  border-color: #e4e1e9;
  opacity: 0.38;
}
check:checked {
  background-color: #bec2ff;
  border-color: transparent;
  color: #272b60;
}
check:checked:hover {
  background-color: #bec2ff;
}
check:checked:active {
  background-color: #bec2ff;
}
check:checked:disabled {
  background-color: #e4e1e9;
  border-color: transparent;
  color: #131318;
  opacity: 0.38;
}
check:indeterminate {
  background-color: #bec2ff;
  border-color: transparent;
  color: #272b60;
}
check:indeterminate:hover {
  background-color: #bec2ff;
}
check:indeterminate:active {
  background-color: #bec2ff;
}
check:indeterminate:disabled {
  background-color: #e4e1e9;
  border-color: transparent;
  color: #131318;
  opacity: 0.38;
}

progressbar.horizontal through, progressbar.horizontal progress, progressbar.horizontal {
  min-height: 6px;
}
progressbar.vertical through, progressbar.vertical progress, progressbar.vertical {
  min-width: 6px;
}
progressbar trough {
  background-color: #444559;
}
progressbar progress {
  background-color: #bec2ff;
}

levelbar.horizontal block {
  min-height: 6px;
}
levelbar.vertical block {
  min-width: 6px;
}
levelbar block.empty {
  background-color: #444559;
}

spinbutton button.down, spinbutton button.up {
  border-radius: 0;
}

window.hypryou-dialog {
  background-color: #1f1f25;
  padding: 20px;
}
window.hypryou-dialog .title {
  font-size: 20px;
  font-weight: 400;
  color: #e4e1e9;
}
window.hypryou-dialog .description {
  font-size: 16px;
  font-weight: 300;
  color: #c7c5d0;
}
window.hypryou-dialog button {
  border-radius: 32px;
  min-height: 32px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
}
window.hypryou-dialog button label {
  font-size: 16px;
  font-weight: 400;
  color: #bec2ff;
}
window.hypryou-dialog button:hover {
  background-color: rgba(190, 194, 255, 0.08);
}
window.hypryou-dialog button:active {
  background-color: rgba(190, 194, 255, 0.1);
}

/*# sourceMappingURL=gtk-4.0.css.map */
